<div class="background">
    <div fxLayoutAlign="center center" fxFlexFill>
        <mat-card class="card">
            <div fxLayout="row" fxLayoutAlign="center center" class="top-padding-25">
                <img src="/assets/login_card_header.png" class="width-150">
            </div>
            <mat-card-content>
                <form fxLayout="column" fxLayoutAlign="space-between center"
                      [formGroup]="loginFormGroupControl"
                      (ngSubmit)="login()">
                    <mat-form-field class="top-padding-45 width-250" appearance="outline" color="primary">
                        <mat-label>Login</mat-label>
                        <input matInput
                               placeholder="Enter your login here ..."
                               required
                               formControlName="loginControl"
                               type="text">
                        <mat-hint>Your nickname or email</mat-hint>
                        <mat-error>Wrong login format</mat-error>
                    </mat-form-field>

                    <mat-form-field class="top-padding-45 width-250" appearance="outline" color="primary">
                        <mat-label>Password</mat-label>
                        <input matInput
                               placeholder="Enter your password here ..."
                               required
                               formControlName="passwordControl"
                               [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix type="button"
                                (click)="hide = !hide"
                                (keypress)="false"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon [color]="hide ? undefined : 'accent'">
                                {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-hint>Your password</mat-hint>
                        <mat-error>Wrong password format</mat-error>
                    </mat-form-field>

                    <div class="top-padding-45" fxLayout="row" fxLayoutAlign="end center">
                        <button type="submit" color="accent" mat-raised-button>Login</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
